<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= post.title %></title>
  </head>
  <body>
    <h1><%= post.title %></h1>
    <p><%= post.post_content %></p>
    <p>LIKES: <%= post.likes %></p>
      <form action="/posts/<%=post.id %>/like?_method=PUT&show=true" method = "POST">
        <input type="submit"value="LIKE">
      </form>
      <a href="/posts/<%=post.id%>/comment">Add Comment</a>
    <div class="comments">
      <% comments.forEach((comment) => { %>

      })
    </div>
  </body>
</html>
