<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= post.title %></title>
  </head>
  <body>
    <a href="/posts">Home</a>
    <h1><%= post.title %></h1>
    <p><%= post.post_content %></p>
    <p>LIKES: <%= post.likes %></p>
      <form action="/posts/<%=post.id %>/like?_method=PUT&show=true" method = "POST">
        <input type="submit"value="LIKE">
      </form>
    <p>COMMENTS: <%= post.comments %></p>
    <div class="comments">
      <% comments.forEach((comment) => { %>
          <div class="comment">
            <p><%= comment.comment_content %></p>
          </div>
      <% }) %>
    </div>
    <textarea form="add-comment" name="comment[comment_content]" rows="8" cols="50"></textarea>
    <form id="add-comment" action="/posts/<%= post.id%>/" method="POST">
      <input type="submit" value="Add Comment">
    </form>
  </body>
</html>
