<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/show.css">
</head>
<body>
  <header>
    <h1 class="main-title"><a href="/posts">COMMUNITY FORUM</a></h1>
  </header>
  <div class="lg-line"></div>
  <main>
    <div class="post-body">
      <h2><%= post.title %></h2>
      <%= post.post_content %>
    </div>
    <form action="/posts/<%=post.id %>/like?_method=PUT&show=true" method = "POST">
      <div class="likes">
        <p>LIKES: <%= post.likes %></p>
      </div>
      <input class="like-button" type="submit" value="LIKE">
    </form>
  </main>
  <div class="lg-line"></div>
  <div class="comment-area">
    <p>COMMENTS: <%= post.comments %></p>
    <div class="comments">
      <% comments.forEach((comment) => { %>
        <div class="comment">
          <p><%= comment.comment_content %></p>
          <p><%= comment.stamp %></p>
        </div>
        <div class="sm-line"></div>
        <% }) %>
      </div>
      <div class="comment-input">
        <textarea form="add-comment" name="comment[comment_content]" rows="8" cols="50"></textarea>
        <form id="add-comment" action="/posts/<%= post.id%>/" method="POST">
          <input class="comment-button" type="submit" value="Add Comment">
        </form>
      </div>
    </div>
  </body>
  </html>
