<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WDI Forum</title>

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- custom app -->
  <script src="/js/app.js" charset="utf-8"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional Bootstrap theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- css files -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/master.css">
  <link rel="stylesheet" href="/css/index.css">

</head>
  <body>
    <header>
      <h1 class="main-title">COMMUNITY FORUM</h1>
    </header>
    <main>
      <a class="logout" href="/users/login">Login</a>
      <form action="/posts/new" method="GET">
        <button type="submit" class="btn btn-primary">+ New Post</button>
      </form>
      <div class="container main-body">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">DISCUSSIONS</div>
          <div class="col-md-2 col-sm-2 col-xs-2">LIKES</div>
          <div class="col-md-2 col-sm-2 col-xs-2">COMMENTS</div>
          <div class="col-md-2 col-sm-2 col-xs-2">DATE</div>
          <div class="col-md-2 col-sm-2 col-xs-2">Author</div>
        </div>
      </div>
      <div class="container">
        <% posts.forEach((post) => { %>
          <div class="row clickable" data-href="/posts/<%=post.id%>">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <%= post.title %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <%= post.likes %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <%= post.comments %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <%= post.stamp %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <%= post.author %>
            </div>
          </div>
          <% }) %>
      </div>
    </main>
    <footer>Copyright © 2017 Joe Kitaj All Rights Reserved.</footer>
  </body>
</html>
